html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    min-height: 60px;
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    background-color: #292929;
    font-size: 10px;
    color: white;
    height: 80px;
    min-height: 80px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    background: linear-gradient(to right, #fbeafc, #adecf6);
}

#maintext {
    color: #d443dd;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

#secondtext{
    color: black;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    font-style: italic;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1.7em;
}

#menu {
    position: relative;
    display: inline-block;
    transition: opacity 0.3s ease;
}

#menu-icon {
    height: 20px;
}

#menu:hover #menu-icon{
    opacity: 0;
    transition: opacity 0.3s ease;
}

#overlay-icon {
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#menu:active {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#forblocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 300px;
    padding-top: 90px;
    padding-bottom: auto;
}

.blocks {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    max-width: 270px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 50px;
    flex: 1;
}

.icons {
    align-self: center;
    margin-top: -60px;
}

.shadow {
    margin-top: -10px;
    width: 100px;
    align-self: center;
}

.aboba {
    width: 150px;
}

.textinblocks {
    vertical-align: center;
    font-style: italic;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.8;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
}

.headerinblocks {
    color: #d443dd;
    font-weight: 700;
    margin-left: 3px;
    margin-right: 3px;
    flex: 1;
}

.my-button {
    display: flex;
    align-self: center;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
    background: linear-gradient(to top, #c74bdb, #38aecd);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.my-button:hover {
    background: linear-gradient(to top, #863493, #38aecd);

}

.my-button:active {
    background: linear-gradient(to top, #863493, #39d7ff);
}

@media only screen and (max-width: 1000px) {
    header {
        min-height: 100px;
        padding-left: 10%;
        padding-right: 10%;
    }

    footer{
        min-height: 140px;
        font-size: 20px;
    }

    #menu-icon, #overlay-icon{
        height: 40px
    }

    #forblocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 75vh;
        margin-left: auto;
        margin-right: auto;
    }
    .blocks {
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 75px;
        min-width: 430px;
        border-radius: 30px;
    }
    .textinblocks {
        font-size: 30px;
        letter-spacing: 0.001cap;
    }
    .headerinblocks {
        font-size: 34px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #maintext {
        font-size: 70px;
    }
    #secondtext {
        font-size: 24px;
        margin-left: 100px;
        margin-right: 100px;
        line-height: 1.5;
    }
    .logo {
        font-size: 30px;
    }
    .icons {
        width: 250px;
        margin-top: -100px;
    }
    .aboba {
        width: 280px;
    }
    .my-button {
        font-size: 20px;
        padding: 20px 50px;
        border-radius: 30px;
    }
    .shadow {
        width: 250px;
        margin-top: -20px;
    }
}